@tailwind base;
@tailwind components;
@tailwind utilities;

body { @apply bg-slate-50 text-slate-900; }
input, select { @apply border rounded px-2 py-1; }
button { @apply rounded bg-black text-white px-3 py-1; }
